{% extends 'base.html.twig' %}

{% block title %}{{ checklist.id }}{% endblock %}

{% block body %} {# details list #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3>Liste N°{{ checklist.id }}</h3>
                <p> Demandeur : {{ checklist.nursename }} <br>
                    Date de création : {{ checklist.createtime|date('d/m/Y') }}
                </p>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <button type="button" class="btn btn-primary btn-md btn-block">
                    <a style="color: white"href="{{ path('checklistitem_new', {'id': checklist.id}) }}"> Ajouter un produit </a>
                </button>
                <br>
                <section>
                    {% for checklistItem in checklist.checklistItems %}
                        <article style="background-color: #a6a6a6;">
                            <em style="font-weight: bold;"><img src="/healstock/node_modules/bootstrap-icons/icons/tag-fill.svg" width="25" height="25" title="tag"> {{ checklistItem.item.reference }}</em>
                            <p><img src="/healstock/node_modules/bootstrap-icons/icons/info-fill.svg" width="25" height="25" title="info"> {{ checklistItem.item.information }}</p>
                        </article>
                    {% endfor %}
                </section>
                <button type="button" class="btn btn-primary btn-md btn-block">
                    <a style="color: white"href="{{ path('homepage')}}">Transmettre la liste</a>
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

{% endblock %}


