{% extends 'base.html.twig' %}

{% block title %}{{ checklist.id }}{% endblock %}

{% block body %} {# details list #}
    <div class="col" style="padding-bottom: 20px">

        <h3>Liste N°{{ checklist.id }}</h3>
        <p> Demandeur : {{ checklist.nursename }} <br>
        Date de création : {{ checklist.createtime|date('d/m/Y') }}
        </p>
    </div>

    <section>
        {% for item in items %}
            <article style="background-color: #a6a6a6;">
                <em style="font-weight: bold;"><img src="/healstock/node_modules/bootstrap-icons/icons/tag-fill.svg" width="25" height="25" title="tag"> {{ item.reference }}</em>
                <p><img src="/healstock/node_modules/bootstrap-icons/icons/info-fill.svg" width="25" height="25" title="info"> {{ item.information }}</p>
            </article>
        {% endfor %}
    </section>

    <div class="row" style="justify-content: center">
        <input type="button" value="<" onclick="javascript:history.back()">
    </div>

{% endblock %}