{% extends 'base.html.twig' %}

{% block title %}Page profile{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown"> {# menu btn #}

                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Menu profil
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item disabled" href="#">Configuration</a> <a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
                    </div>
                </div>
                <br>
                <h3> Espace infirmerie </h3>
                <br>
                <div class="tabbable" id="tabs-863841">
                    <ul class="nav nav-tabs"> {# list navbar #}
                        <li class="nav-item">
                            <a style="color: black;" class="nav-link  active show" href="#tab1" data-toggle="tab">A traiter</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: black;" class="nav-link" href="#tab2" data-toggle="tab">Cloturé</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab1">
                            <table class="table table-sm table-striped">{# list table to closed #}
                                <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Demandeur</th>
                                    <th>Date de création</th>
                                    <th>Nombre de produit</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for checklist in checklists %}
                                        <tr class="table-active">
                                            <td>{{ checklist.id }}</td>
                                            <td>{{ checklist.nursename }}</td>
                                            <td>{{ checklist.createtime|date('d/m/Y') }}</td>
                                            <td>{{ checklist.checklistitems|length }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <table class="table table-sm table-striped"> {# liste table closed #}
                                <thead>
                                <tr class="table-active">
                                    <th>N°</th>
                                    <th>Demandeur</th>
                                    <th>Date de création</th>
                                    <th>Nombre de produit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for checklist in checklists %} {# todo variable isclosed=true #}
                                    {% if checklist.isClosed %}
                                    <tr>
                                        <td>{{ checklist.id }}</td>
                                        <td>{{ checklist.nursename }}</td>
                                        <td>{{ checklist.createtime|date('d/m/Y') }}</td>
                                        <td>{{ checklist.checklistitems|length }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}